# Python Virtual Environment
Include/
Lib/
Scripts/
share/
pyvenv.cfg

# Environment variables
.env

# Database
chroma_db/
git_memory.json

# Temporary / Other folders
naa/
NewFolder/

# Cache files
__pycache__/
*.pyc
*.pyo
*.pyd
